
@{
    ViewData["Title"] = "IndexNou";
    Layout = "~/Views/Shared/_LayouNou.cshtml";
}

<h1>IndexNou</h1>

@*<a href="c:\users\marin\social_bookmarking\iheard\views\newss\indexnou.cshtml">c:\users\marin\social_bookmarking\iheard\views\newss\indexnou.cshtml</a>*@